<%- include('../parts/html-head') %>
<%- include('../parts/navbar') %>

<div class="container">
    <h2>Address Book</h2>
</div>
<%- include('../parts/scripts') %>
<%- include('../parts/html-foot') %>